body {
    background-color: aquamarine;
    font:16px/28px arial,sans-serif;
    color:black;
}
.container {
    width: 700px;
    background-color: aqua;
    margin: auto;
}
.header h1{
	font-size: 50px;
	font-weight:bold;
    text-align: center;
}
.header ul li{
	display: inline-block;
	margin-top:15px;
	margin-right: 15px;
}
.header a{
	text-decoration: none;
	color:black;
}
.hero{
	height:350px;
	background-image: url(CSS.webp);
	background-size: cover;
	background-position: 0 0px;
	border-top: 3px solid azure;
	border-bottom: 3px solid azure;
}
.content {
	padding: 10px;
}
 .content h2{
	font-size: 30px;
	font-weight: bold;
	margin-left: 30px;
}
.content h3{
	font-size: 22px;
	margin-top: -15px;
	margin-left: auto;
}
.content .penulis {
	font-size: 15px;
	margin-top: -5px;
}
 .content .penulis a{
	color: salmon;
	text-decoration: none;
}
 .content p{
	margin-bottom: 30px;
	margin-left: 20px;
	font-size: 23px;
}