body {
    background-color: aquamarine;
    font:16px/28px arial,sans-serif;
    color:burlywood;
}
.container {
    width: 600px;
    background-color: aqua;
}
.header .judul{
	font-size: 50px;
	font-weight:bold;

}
.header ul li{
	display: inline-block;
	margin-top:15px;
	margin-right: 15px
}