body{
   background: url(../image/BG2.jpeg) no-repeat top center;
   background-size: 450px;
 }
 h1{
    font-family: serif;
   font-size: 40px;
   font-style: normal;
 }
 h2{
   font-size: 30px;
   font-family: serif;
 }
 a{
   font-family: serif;
   font-style: italic;
   font-size: 20px;
   color:#111111;
 }
 .Lihat:visited {
   color:white;
 }
 .Input:visited {
   color:white;
 }